<?xml version="1.0"?>

<robot name="KUKA_iiwa" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find KUKA_iiwa_pkg)/urdf/KUKA_iiwa_macro.xacro" />
	
		<xacro:base_link_macro 
			base_link_name="base_link">
		</xacro:base_link_macro>
	
		<xacro:iiwa_joint
			name="z_joint1"
			type="revolute"
			parent="base_link"
			child="link1">
			<origin xyz="0 0 0.1" />
			<axis xyz="0 0 1"/>
		</xacro:iiwa_joint>

		<xacro:iiwa_link name="z_link1">
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:iiwa_link>

		<xacro:iiwa_joint
			name="h_joint2"
			type="revolute"
			parent="link1"
			child="link2">
			<origin xyz="0 0 0.2" />
			<axis xyz="1 0 0"/>
		</xacro:iiwa_joint>


		<xacro:iiwa_link name="link2">
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 1.5 0.0"/>
		</xacro:kuka_link>

    <xacro:kuka_joint
			name="z_joint3"
			type="revolute"
			parent="link2"
			child="link3">
			<origin xyz="0.15 0 0" />
			<axis xyz="0 0 1"/>
		</xacro:kuka_joint>

    <xacro:kuka_link name="link3">
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:kuka_link>

    <xacro:kuka_joint
			name="x_joint4"
			type="revolute"
			parent="link3"
			child="link4">
			<origin xyz="0 0 0.2" />
			<axis xyz="-1 0 0"/>
		</xacro:kuka_joint>

		<xacro:kuka_link name="h_link4">
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="${-0.1 0 0" rpy="0 1.5 0"/>
		</xacro:kuka_link>

    <xacro:kuka_joint
			name="z_joint5"
			type="revolute"
			parent="link4"
			child="link5">
			<origin xyz="-0.2 0 0" />
			<axis xyz="0 0 1"/>
		</xacro:kuka_joint>

    <xacro:kuka_link name="link5">
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:kuka_link>

    <xacro:kuka_joint
			name="x_joint6"
			type="revolute"
			parent="link5"
			child="link6">
			<origin xyz="0 0 0.2" />
			<axis xyz="1 0 0"/>
		</xacro:kuka_joint>

		<xacro:kuka_link name="x_link6">
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 1.5 0.0"/>
		</xacro:kuka_link>

    <xacro:kuka_joint
			name="z_joint7"
			type="revolute"
			parent="link6"
			child="link7">
			<origin xyz="0.2 0 0" />
			<axis xyz="0 0 1"/>
		</xacro:kuka_joint>

    <xacro:kuka_link name="link7">
			<geometry>
				<cylinder length="0.2" radius="0.04"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</xacro:kuka_link>

</robot>

